/* You can add custom styles here. */

// @import "plugins/numbered";
#intro-logo {
  width: 30%;
  display: block;
  margin: auto;
}

a.book-btn {
  transition: 300ms all;

  &:hover {
    text-decoration: none;
    background: var(--color-link);
    color: white;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  #intro-logo {
    width: 60%;
  }
}
